body {
    margin: 0 auto;
    text-align: center;
    margin-top: 8vw;
    margin-bottom: 18vw;
    font-size:25px;
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 600;
}
.subtitle {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
}
.drive-text {
    font-size:20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width:470px;
    text-align: left;
}
.text {
    font-size:20px;
    margin: 0 auto;
    margin-top: 20px;
    max-width:700px;
    text-align: left;
}
.contents {
    text-align: center;
    margin: 15px 0 15px 0;
}
g {
    color:rgb(12, 151, 159);
    font-weight:bold;
}
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    border: 0px;
    background:white;
    color:rgb(12, 151, 159);
    font-weight:bold;
    font-size:15px;
    padding:0;
    margin: 20px 0 20px 0;
}
hr {
    margin: 50px 0 50px 0;
}

.link {
    margin-bottom: 10px;
}

.contents a {
    display:block;
}
a:link, a:visited {
    color: rgb(144, 144, 144);
    text-decoration: none;
}


a:hover {
    color: rgb(0, 187, 176);
    transition: 100ms;
    text-decoration: none;
}

a:active {
    color: rgb(4, 124, 117);
    text-decoration: none;
}



.imgbox {
    text-align: center;
    margin: 15px 0 15px 0;
}
img {
    margin: 0 auto;
    width: auto;
}
